<h1>Breweries</h1>

<table>
  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= link_to 'Show', brewery %></td>
        <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
        <td><%= link_to 'Delete', brewery, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "Add Brewery", new_brewery_path %></p>
